#signup-form {
    width: 400px;
    max-width: 100%;
    margin: 50px auto;
    background-color: #5C1DBC; /* Use the theme color */
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
  }
  
  #signup-form h1 {
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-size: 28px;
    font-weight: bold;
    color: white;
  }
  
  #signup-form form {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
  }
  
  #signup-form form label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: gray;
    font-family: "Poppins", sans-serif;
  }
  
  #signup-form form input[type="text"],
  #signup-form form input[type="password"],
  #signup-form form input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  #signup-form form input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #5C1DBC; /* Use the theme color */
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  #signup-form form input[type="submit"]:hover {
    background-color: #4B16A8; /* A slightly darker shade for hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  